<div class='h-full'>
  <h1 class="font-bold text-4xl">New Trip</h1>
  <%= form_with model: @trip do |form| %>
    <div class='block relative my-6 md:w-1/2'>
      <%= form.text_field :driver, class: 'rounded bg-tertiary w-full' %>
      <%= form.label :driver, class: 'absolute -top-3 left-2 bg-tertiary px-2' %>
    </div>
    <div class='block relative my-6 md:w-1/2'>
      <%= form.text_field :teacher,class: 'rounded bg-tertiary w-full' %>
      <%= form.label :teacher, class: 'absolute -top-3 left-2 bg-tertiary px-2' %>
    </div>
    <div class='block relative my-6 md:w-1/2'>
      <%= form.number_field :odometre_start, class: 'rounded bg-tertiary w-full' %>
      <%= form.label :odometre_start, class: 'absolute -top-3 left-2 bg-tertiary px-2' %>
    </div>
    <div>
      <%= form.submit class: 'btn-primary' %>
    </div>
  <% end %>
</div>
