<div>
  <h1 class="font-bold text-4xl">Trips#show</h1>
  <h2>Driver: <%= @trip.driver %> </h1>
  <h2>Odometre Start: <%= @trip.odometre_start %> </h2>
  <h2>Tracking Interval: <%= @trip.tracking_interval %> </h2>

  <ul>
    <% @trip.suburbs.each do |suburb|%>
      <li> <%= suburb.name %></li>
    <% end %>
  </ul>
  <div>

    <%= link_to 'Record', new_suburb_path(id: @trip.id), class: 'btn-primary' %>
    <%= link_to 'Recording', 
                new_suburb_path(id: @trip.id), 
                class: 'btn-primary', 
                data: { controller: "autosuburbrecord",
                        "autosuburbrecord-target"=> "recordingButton"
                } 
    %>
  </div>
</div>
