<h1>Current Trip </h1>
<h2> Trip ID: <%= @geolocation_trip.trip_id %> </h2>

<div data-controller='geolocation'>
  <%= form_with model: @geolocation_trip, url: suburbs_path do |form|%>
    <div>
      <%= form.number_field :longitude, data:{'geolocation-target' => 'longitude'}, step:'0.0000001' %>
    </div>
    <div>
      <%= form.number_field :latitude, data:{'geolocation-taget' => 'latitude'}, step: '0.0000001' %>
    </div>
    <div>
      <%= form.hidden_field :trip_id %>
    </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>