<h1>Current Trip </h1>
<h2> Trip ID: <%= @geolocation_trip.trip_id %> </h2>

<div data-controller='geolocation'>
 <button data-action='click->geolocation#geolocate'>Get Location </button>

  <%= form_with model: @geolocation_trip, url: suburbs_path, data: {'geolocation-target'=> "form"} do |form|%>
    <div>
      <%= form.number_field :longitude, data:{'geolocation-target' => 'longitude'}, step:'0.0000001' %>
    </div>
    <div>
      <%= form.number_field :latitude, data:{'geolocation-target' => 'latitude'}, step: '0.0000001' %>
    </div>
    <div>
      <%= form.hidden_field :trip_id %>
    </div>
    <%= form.submit %>
  <% end %>
</div>  
