<!DOCTYPE html>
<html>
  <head>
    <title>Toolbox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='min-h-screen bg-tertiary text-text'>
    <header data-controller='nav' class='h-11 w-screen bg-primary px-3 text-text flex items-center justify-between'>
      <div class='text-secondary'>
        <%= link_to_unless_current 'Rails Journey', root_path, class: 'text-text' %>
      </div>
      <button type='button' data-action='click->nav#toggle'>
        click me
      </button>
      <nav data-nav-target='closed' class='bg-blue-600 absolute top-11 left-0 w-full h-0 overflow-hidden'>
        <ul>
          <li class='text-secondary md:inline-block'> <%= link_to_unless_current 'Features', features_path, class: 'text-text ' %></li>
          <li class='text-secondary md:inline-block'> <%= link_to_unless_current 'Contact', contact_path, class: 'text-text'%> </li>
        </ul>
      </nav>
    </header>
    <main class="container mx-auto mt-28 px-5 min-h-max">
      <%= yield %>
    </main>
    <footer class='h-11 w-full bg-primary px-3 flex flex-row justify-end items-center bottom-0 absolute'>
      Footer
    </footer>
  </body>
</html>
